# MacOs
.DS_Store

# JetBrains
.idea/
*.iml

# node
node_modules/

# shadow-cljs
.shadow-cljs/
.cpcache/
**/cljs-runtime/

# nrepl
.nrepl-port

# project specific
# :output-dir defined in shadow-cljs.edn
resources/public/js/main/
