{:tasks
 {:requires        ([babashka.fs :as fs])
  npm-inst         (when-not (fs/directory? "node_modules")
                     (shell "npm install"))
  clean            (do
                     (shell "rm -rf .cpcache .shadow-cljs node_modules")
                     (println "Removed .cpcache .shadow-cljs node_modules"))
  client:run       {:depends [npm-inst]
                    :task    (shell "npx shadow-cljs watch main")}
  client:run-clean {:depends [clean npm-inst]
                    :task    (shell "npx shadow-cljs watch main")}
  server:repl      {:task (shell "clj -M:dev:nrepl")}}}
