{:deps     {:aliases [:dev]}
 :nrepl    {:init-ns user-clj
            :port    9000}

 :dev-http {8000 "resources/public"}

 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"

                   :modules    {:main {:init-fn app.client/init}}
                   :devtools   {:repl-init-ns user-cljs
                                :repl-pprint  true
                                :after-load   app.client/init
                                :preloads     [com.fulcrologic.fulcro.inspect.dom-picker-preload
                                               com.fulcrologic.fulcro.inspect.preload]}}}}
